body{
    background-color: azure;
}
h1{
    color:rgb(24, 93, 163); font-size:40px
}
a{
    color: brown; font-size: 20px;
}
p{
    font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.desc{
    color: rgb(22, 25, 31);
}